  <nav 
    x-cloak 
    x-show="menu"
    x-transition:enter="transition ease-out duration-240"
    x-transition:enter-start="opacity-0"
    x-transition:enter-end="opacity-100"
    x-transition:leave="transition ease-in duration-240"
    x-transition:leave-start="opacity-100"
    x-transition:leave-end="opacity-0"
    class="bg-white min-h-[calc(100dvh_-_80px)] md:min-h-[calc(100dvh_-_96px)] lg:min-h-0 text-graphite lg:text-black leading-none font-futura-pt-condensed uppercase fixed w-full lg:w-auto left-0 top-0 lg:relative lg:top-56 lg:!opacity-100 lg:!block px-10 md:px-15 lg:px-0 mt-80 md:mt-96 lg:mt-0">
    <ul class="lg:flex lg:space-x-20">
      {{ nav:main }}
        {{ partial:menu/item }}
      {{ /nav:main }}
    </ul>
  </nav>
