<div class="fixed right-20 bottom-16 px-5 py-2 bg-red-500 text-white text-xxs uppercase z-[2000] 3xl:hidden">
  <span class="block xs:hidden">default</span>
  <span class="hidden xs:block sm:hidden">xs</span>
  <span class="hidden sm:block md:hidden">sm</span>
  <span class="hidden md:block lg:hidden">md</span>
  <span class="hidden lg:block xl:hidden">lg</span>
  <span class="hidden xl:block 2xl:hidden">xl</span>
  <span class="hidden 2xl:block 3xl:hidden">2xl</span>
</div>
{{# <div class="fixed left-20 xl:left-0 top-20 w-[calc(100%_-_40px)] xl:w-full z-[-1] pointer-events-none">
  <div class="mx-auto xl:px-20 md:grid md:grid-cols-6 md:gap-x-20 w-full">
    <div class="md:col-span-1 bg-orange-50 bg-opacity-50 min-h-[calc(100vh_-_40px)]"></div>
    <div class="hidden md:block md:col-span-1 bg-orange-50 bg-opacity-50 min-h-[calc(100vh_-_40px)]"></div>
    <div class="hidden md:block md:col-span-1 bg-orange-50 bg-opacity-50 min-h-[calc(100vh_-_40px)]"></div>
    <div class="hidden md:block md:col-span-1 bg-orange-50 bg-opacity-50 min-h-[calc(100vh_-_40px)]"></div>
    <div class="hidden md:block md:col-span-1 bg-orange-50 bg-opacity-50 min-h-[calc(100vh_-_40px)]"></div>
    <div class="hidden md:block md:col-span-1 bg-orange-50 bg-opacity-50 min-h-[calc(100vh_-_40px)]"></div>
  </div>
</div> #}}