{{ partial:layout/inner class="md:flex md:gap-x-25 lg:gap-x-50" }}
  <div class="w-200 mb-25 md:flex-1 ">
    <a 
      href="tel:+41449053511" 
      class="block w-[inherit] shadow-cta md:sticky md:top-[96px] lg:top-[156px]"
      title="Notrufzentrale Überlandfunk">
      <img src="/img/cta-notrufzentrale-ueberlandfunk.png" width="400" height="224" alt="" class="w-full h-auto">
    </a>
  </div>
  <div class="px-5 text-charcoal">
    {{ partial:components/editor }}
  </div>
{{ /partial:layout/inner }}